.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 500%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -400%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 500%;
  height: 50%;
  top: -12px;
  left: -400%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  background: #0f0f0f;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 12px;
  z-index: 1;
  border: 1px solid #2d2d2d;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  90% {
    transform: translate(-100%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  90% {
    transform: translate(100%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
